<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User form</h2>
    <form method="post">
        {% csrf_token %}
        <p>Name:<br> <input name="first_name" required type="text" /></p>
        <p>Last name:<br> <input name="last_name" required type="text" /></p>
        <p>Salary:<br> <input name="salary" required type="number"/></p>
        <p>Company:<br> <input name="company" /></p>
        <input type="submit" value="Send" />
</body>
</html>