{% extends 'base.html'%}

{% block content %}
<h1>Привет всем.</h1>
Сайт сделан лишь продемострировать мои способоности в этой сфере. 
<a href="http://127.0.0.1:8000/usercreate/">Ссылка на users-create</a><br>

{% for i in users_info %}
<tr class='success'> <div class="users-info">
    <td>Id человека: {{ i.id }} <a href="{% url 'persons' i.id %}">Его ссылка</a></td><br>
    <td>Id человека: {{ i.id }} <a href="{{ i.get_absolute_url }}">Его ссылка</a></td><br>
    <td>Имя человека: {{ i.first_name }}</td><br>
    <td>Фамилия человека: {{ i.last_name }}</td><br>
    <td>З/п человека: {{ i.salary }}</td><br>
    <td>Компания где работает человек: {{ i.company }}</td><br>
</tr></div>
    {% endfor %}
</form>
{% endblock %}