<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Main Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Привет всем.</h1>
    Сайт сделан лишь продемострировать мои способоности в этой сфере. 
    <a href="http://127.0.0.1:8000/users-info">Ссылка на users-info</a><br>
    <a href="http://127.0.0.1:8000/usercreate/">Ссылка на users-create</a><br>
    {% for i in users_info %}
    <tr class='success'> <div class="users-info" style="border: solid">
        <td>Id человека: {{ i.id }}</td><br>
        <td>Имя человека: {{ i.first_name }}</td><br>
        <td>Фамилия человека: {{ i.last_name }}</td><br>
        <td>З/п человека: {{ i.salary }}</td><br>
        <td>Компания где работает человек: {{ i.company }}</td><br>
    </tr></div>
        {% endfor %}
    </form>
</body>
</html>