{% extends 'base.html'%}

{% block content %}
<h1>Привет пользователь, эта страничка принадлежит {{idis}}-му человеку.</h1>

{% for i in user_info %}
<tr class='success'> <div class="users-info">
    <td>Id человека: {{ i.id }}</td><br>
    <td>Имя человека: {{ i.first_name }}</td><br>
    <td>Фамилия человека: {{ i.last_name }}</td><br>
    <td>З/п человека: {{ i.salary }}</td><br>
    <td>Компания где работает человек: {{ i.company }}</td><br>
</tr></div>
    {% endfor %}
</form>
{% endblock %}